
<div class="container">
    <div class="form-login content-section" *ngIf="rol === null">
        <form [formGroup]="formSesion" (submit)="enviar()">
            <span class="field">
                <h5><i class="pi pi-user" style="font-size: 6rem"></i></h5>
            </span>
    
            <span class="p-float-label field" >
                <input id="float-input" type="text" formControlName="nombre" pInputText> 
                <label for="float-input">Nombre de usuario</label>
                <small *ngIf="formSesion.controls.nombre.invalid &&(formSesion.controls.nombre.dirty || formSesion.controls.nombre.touched)">Debe ingresar un usuario</small>
            </span>
            <span class="p-float-label field">
                <input id="float-input" type="password" pPassword formControlName="contrasena" [feedback]="false"> 
                <label for="float-input">Contraseña</label>
                <small *ngIf="formSesion.controls.contrasena.invalid &&(formSesion.controls.contrasena.dirty || formSesion.controls.contrasena.touched)">Debe ingresar una contraseña</small>
            </span>
            <span class="field">
                <button pButton type="submit" [disabled]="!formSesion.valid" class="p-button-secondary p-button">Ingresar</button>
                
            </span>
        </form>
    </div>
    <p-tabView *ngIf="rol !== null">
        <p-tabPanel [headerStyle]="{'width':'50%'}" header="LISTA DE USUARIOS">
            <app-mostrardatos></app-mostrardatos>
        </p-tabPanel>
        <p-tabPanel [headerStyle]="{'width':'50%'}" header="CREAR USUARIO" [disabled]="!(rol=='ADMINISTRADOR')">
            <app-formusuarios></app-formusuarios>
        </p-tabPanel>
        <button pButton type="button" (click)="cerrarSesion()" class="p-button-secondary p-button">Cerrar Sesion</button>
    </p-tabView>
</div>
